.chatroom-header {
  display: block;
  width: 400px;
  height: 70px;
  color: #D1D1D6;
  background-color: #3B3D4D;
}

.chat-room {
  width: 400px;
  height: 711px;
  /* margin: auto; */
  margin: 0;
  overflow: auto;
  background-color: #ECEEF1;
}

.chat-box {
  width: 400px;
  height: 641px;
  margin: 0;
  overflow: auto;
}

.chatroom-user-name {
  height: 70px;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: 'Allerta', sans-serif;
  text-align: center;
}

.back-btn {
  display: inline-block;
}

.back-btn > button {
  display: inline-block;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: #676775;
  background-color: #3B3D4D;
}

.user-msg-element {
  width: 100%;
  height: 50px;
  margin: 10px 0 30px;
}

.user-msg-element > img {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.user-msg {
  display: inline-block;
  height: 40px;
  border-radius: 6px;
  background-color: #FFFFFF;
}

.user-msg-created-at {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 500;
  color: #C1C1C1;
}

.sending-box {
  bottom: 0;
  width: 400px;
  height: 60px;
  background-color: white;
}

.sending-box > input {
  display: inline-block;
}

.sending-box > button {
  display: inline-block;
  position: absolute;
  
}
