.chatroom-header {
  display: block;
  width: 400px;
  height: 75px;
  color: #D1D1D6;
  background-color: #3C3D4C;
}

.chat-room {
  width: 400px;
  height: 711px;
  overflow: auto;
  background-color: #ECEEF1;
}

.chat-box {
  position: relative;
  width: 400px;
  height: 575px;
  overflow: auto;
}

.chatroom-user-name {
  display: inline-block;
  width: 290px;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Allerta', sans-serif;
  text-align: center;
}

.back-btn {
  display: inline-block;
}

.back-btn > button {
  display: inline-block;
  margin-top: 40%;
  margin-left: 15px;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: #8A8B94;
  background-color: #3B3D4D;
}

.my-msg-element {
  height: 45px;
  padding: 22px 22px 22px 0;
  text-align: right;
}

.my-img {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 100px;
}

.my-msg {
  display: inline-block;
  max-width: 200px;
  padding: 12px;
  font-size: 0.9rem;
  text-align: left;
  word-break: break-all;
  color: #909095;
  border-radius: 6px;
  background-color: #FFFFFF;
}

.my-msg-created-at {
  display: inline-block;
  margin-right: 6px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #C1C1C1;
}

.user-msg-element {
  height: 45px;
  padding: 22px 0 22px 22px;
}

.user-img {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 100px;
}

.user-msg {
  display: inline-block;
  max-width: 200px;
  padding: 12px;
  font-size: 0.9rem;
  word-break: break-all;
  color: #909095;
  border-radius: 6px;
  background-color: #FFFFFF;
}

.user-msg-created-at {
  display: inline-block;
  margin-left: 6px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #C1C1C1;
}

.sending-box {
  display: flex;
  width: 400px;
  height: 7.2vh;
  align-items: center;
  background-color: white;
}

.send-msg-box {
  display: inline-block;
  width: inherit;
  height: 33px;
  margin-left: 10px;
  padding-left: 10px;
  border: none;
  box-shadow: 0 0 3px green;
  font-size: 0.85rem;
}

.send-msg-box:focus {
  outline-offset: 0px;
  outline: none;
}

.send-msg-box::placeholder {
  padding-left: 10px;
  font-size: 1rem;
  color: #C1C1C1;
}

.submit-btn {
  display: inline-block;
  width: 85px;
  height: 38px;
  margin-left: 10px;
  margin-right: 17px;
  font-size: 0.9rem;
  color: white;
  border: none;
  border-radius: 3px;
  background: linear-gradient(to right, rgb(142, 135, 246), rgb(126, 164, 247));
}
